.root {
    -fx-colour-main: #535353;
    -fx-colour-main-dark: #262626;
    -fx-colour-accent: #949494;
    -fx-colour-accent-hover: #7F7F7F;
}

#borderpane-main {
    -fx-background-image: url("../resources/backgrounds/cog_background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1920;
}

#main-menu-text {
    -fx-text-fill: -fx-colour-main;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

#main-menu-vbox {
    -fx-background-color: -fx-colour-main;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
}

#menu-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 42px;
    -fx-font-weight: bold;
}

#button-homepage {
    -fx-background-color: -fx-colour-main;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 42px;
    -fx-font-weight: bold;
}

#button-homepage:hover {
    -fx-background-color: -fx-colour-main-dark;
}